/* GoogleFonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: linear-gradient(90deg, #327fec, #a9cafa);
}

.wrapper {
	width: 400px;
	background: #fff;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.wrapper header {
	color: #43affc;
	font-size: 24px;
	font-weight: 500;
	padding: 16px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #bfbfbf;
}

header i {
	cursor: pointer;
	font-size: 0px;
	margin-right: 8px;
}

.wrapper.active header i{
	font-size: 32px;
	margin-left: 4px;
}

.wrapper .input-part {
	margin: 20px 24px 32px;
}

.wrapper.active .input-part {
	display: none;
}

.input-part .info-txt {
	display: none;
	font-size: 14px;
	text-align: center;
	padding: 8px 10px;
	margin-bottom: 16px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.info-txt.error {
	display: block;
	color: #711c24;
	background: #f8d7da;
	border: 1px solid #f5c6cd;
}

.info-txt.pending {
	display: block;
	color: #0c5460;
	background: #d1ecf1;
	border: 1px solid #bee5eb;
}

.input-part :where(input, button) {
	width: 100%;
	height: 56px;
	border: none;
	outline: none;
	font-size: 16px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.input-part input {
	text-align: center;
	border: 1px solid #bfbfbf;
}

.input-part input:is(:focus, :valid) {
	border: 2px solid #43affc;
}

.input-part .separator {
	height: 1px;
	width: 100%;
	margin: 25px 0;
	background: #ccc;
	display: flex;
	align-items: center;
	justify-content: center;
}

.separator::before {
	content: 'OR';
	color: #ccc;
	font-size: 16px;
	padding: 0 16px;
	background: #fff;
}

.input-part button {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	cursor: pointer;
	background: #43affc;
}

.input-part button i {
	margin-right: 8px;
	font-size: 24px;
}

/* ============================== WEATHER PART ============================== */
.wrapper .weather-part {
	margin: 30px 0 0;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.wrapper.active .weather-part {
	display: flex;
}


.weather-part img {
	max-width: 125px;
}

.weather-part .temp {
	display: flex;
	font-size: 72px;
	font-weight: 500;
}

.weather-part .temp .numb {
	font-weight: 600;
}

.weather-part .temp .deg {
	font-size: 40px;
	margin: 10px 5px 0 0;
	display: block;
}

.weather-part .weather {
	font-size: 20px;
	text-align: center;
	margin: -5px 20px 16px;
}

.weather-part .location {
	font-size: 22px;
	display: flex;
	align-items: center;
	margin-bottom: 32px;
}

.location i {
	font-size: 22px;
	margin-right: 8px;
}

.weather-part .botton-details {
	width: 100%;
	display: flex;
	align-items: center;
	border-top: 1px solid #bfbfbf;
	justify-content: space-between;
}

.botton-details .column {
	width: 100%;
	padding: 16px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.column i {
	color: #43affc;
	font-size: 40px;
}

.column.humidity {
	border-left: 1px solid #bfbfbf;
}

.details .temp,
.humidity span {
	font-size: 18px;
	font-weight: 500;
	margin-top: -4px;
}

.details .temp .deg {
	margin: 0;
	font-size: 16px;
	pad: 0 2px 0 1px;
}

.details p {
	font-size: 14px;
	margin-top: -6px;
}
